html {
  margin: 0;
  min-height: 100%;
  width: 100%;
  background-color: #101727;
  font-family: 'Exo 2', sans-serif;
}

body, .htmlbody {
  margin: 0;
  min-height: 100%;
  width: 100%;
  background-color: #101727;
}


body {
  margin: 0;
  font-family: 'Exo 2', sans-serif;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
  /* -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
  background-color: #101727;
}

code {
  font-family: 'Exo 2', sans-serif;
  /* font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace; */
}

.navbar {
  background-color: #16FFF5;
}
